<section class="game">
    <header class="header">
        <h1 class="header-title">2048</h1>
        <p class="header-tagline">
            Join the numbers and get to the 2048 tile!
        </p>
    </header>
    <div class="toolbar">
        <div>
            <button class="btn" ng-click="$ctrl.newGame()">New Game</button>
        </div>
        <div class="toolbar-scores">
            <score-component></score-component>
        </div>
    </div>
    <grid-component grid="$ctrl.game.grid"></grid-component>
    <footer class="footer">
        <p class="footer-paragraph">
            <span class="footer-title">HOW TO PLAY:</span> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one</strong>!
            <br /> Press <strong>Enter</strong> to start over whenever you want.
        </p>
        <hr class="footer-separator" />
        <p class="footer-paragraph">
            Created by <a href="https://github.com/benoitzohar">Benoit Zohar</a>. Based on <a href="https://gabrielecirulli.github.io/2048/">2048</a> by <a href="http://gabrielecirulli.com">Gabriele Cirulli.</a> which is based on <a href="https://itunes.apple.com/us/app/1024!/id823499224">1024 by Veewo Studio</a>            and conceptually similar to <a href="http://asherv.com/threes/">Threes by Asher Vollmer.</a>
        </p>
        <div class="center">
            <a class="btn" href="https://github.com/benoitzohar/2048">View this project on GitHub</a>
        </div>

    </footer>

    <modal-component title="YOU WON !" content="Congratulations ! You made it to 2048 !" action="Click here to start over" action-handler="$ctrl.newGame()" ng-if="$ctrl.game.isWon()"></modal-component>
    <modal-component title="You lost..." content="Sorry, you did not make it to 2048. Try again now by pressing enter or by clicking on the button below !" action="Click here to try again" action-handler="$ctrl.newGame()" ng-if="$ctrl.game.isLost()"></modal-component>
</section>
