@import "../shared/variables";
@import "../shared/mixins";

tile-component {
    opacity: 1;
    transition: opacity $animation-speed;

    &.ng-enter {
        opacity: 0;
        &-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        opacity: 1;
        &-active {
            opacity: 0;
        }
    }

}

.tile {

    position: absolute;
    height: $tile-size;
    width: $tile-size;

    transition: top $animation-speed, left $animation-speed;
    color: white;
    border-radius: $border-radius;

    //positions
    @for $x from 0 through $tiles-per-row - 1 {
         @for $y from 0 through $tiles-per-row - 1{
            &__#{$x}-#{$y} {
                left: $tile-margin + ($tile-margin + $tile-size) * $x;
                top: $tile-margin + ($tile-margin + $tile-size) * $y;
            }
        }
    }

    //colors
    @for $i from 1 through length($tile-colors) {
        &__color#{powerOfTwo($i)} {
            border: 1px solid darken(nth($tile-colors, $i), 10%);
            background-color: nth($tile-colors, $i);
        }
    }


    &-value {
        display: inline-block;
        width: 100%;
        font-size: $tile-font-size;
        text-align: center;
        vertical-align: middle;
        line-height: $tile-size;
    }
}
