@import "../shared/variables";

$grid-size: ($tiles-per-row * ($tile-margin + $tile-size)) + $tile-margin;

.grid {
    position: relative;
    background-color: $secondary-color;
    height: $grid-size;
    width: $grid-size;
    margin: $tile-margin * 2 auto;
    border-radius: $border-radius;
    padding: 0;

    &-bgelement {
        display: inline-block;
        box-sizing: border-box;
        float: left;
        height: $tile-size;
        width: $tile-size;
        background-color: transparentize(lighten($secondary-color, 20%), 0.7);
        border-radius: $border-radius;
        margin-top: $tile-margin;
        margin-left: $tile-margin;
        border: 1px solid lighten($secondary-color, 8%);
    }
}
