/**
 *  Mixins
 **/

// Power of two function
// returns a power of 2
@function powerOfTwo($pow) {
    $res: 1;
    @for $i from 1 through $pow {
        $res: $res * 2;
    }
    @return $res;
}

// Animation mixin
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    animation: $animations;
}

// Keyframes mixin
@mixin keyframes($animationName) {
     @keyframes #{$animationName}{
        @content;
    }
}
